<table>
<form method="POST">
  <tr class="tr-d">
    <td class="td-d">
      E-mail
    </td>
    <td class="td-d">
      <input class="form" type="text" name="username" autocapitalize="off" placeholder="E-mail address" />
    </td>
  </tr>
  <tr class="tr-d">
    <td class="td-d">
      Password
    </td>
    <td class="td-d">
      <input class="form" type="password" name="password" placeholder="Password" />
    </td>
  </tr>
  <tr class="tr-d">
    <td class="td-d">
    </td>
    <td class="td-d">
      <input type="submit" value="Log in" />
    </td>
  </tr>
</form>
</table>
<br />
{{ error }}
