<table>
  <form method="POST" enctype="multipart/form-data" id="insert_form">
    <tr class="tr-d">
      <td class="td-d">
        Image file
      </td>
      <td class="td-d">
        <input class="form" name="image_file" type="file" accept="image/*" />
      </td>
    </tr>
    <tr class="tr-d">
      <td class="td-d">
        Filename
      </td>
      <td class="td-d">
        <input class="form" type="text" name="filename" placeholder="Filename" />
        <small>
          (keep empty to original)
        </small>
      </td>
    </tr>
    <tr class="tr-d">
      <td class="td-d">
        Text
      </td>
      <td class="td-d">
        <textarea name="message" form="insert_form" cols="55" rows="10"></textarea>
      </td>
    </tr>
    <tr class="tr-d">
      <td class="td-d">
      </td>
      <td class="td-d">
        <input class="form-button" type="submit" value="Submit" />
      </td>
    </tr>
  </form>
</table>
