<table>
  <form method="POST" enctype="multipart/form-data" id="insert_form">
    <tr class="tr-d">
      <td class="td-d">
        Image file
      </td>
      <td class="td-d">
        <input class="form" type="file" name="image_file" accept="image/*" />
      </td>
    </tr>
    <tr class="tr-d">
      <td class="td-d">
        file_name
      </td>
      <td class="td-d">
        <input class="form" type="text" name="file_name" placeholder="file_name" />
        <small>
          (keep empty to original)
        </small>
      </td>
    </tr>
    <tr class="tr-d">
      <td class="td-d">
        Text
      </td>
      <td class="td-d">
        <textarea name="message" cols="55" rows="10" form="insert_form"></textarea>
      </td>
    </tr>
    <tr class="tr-d">
      <td class="td-d">
      </td>
      <td class="td-d">
        <input class="form-button" type="submit" value="Submit" />
      </td>
    </tr>
  </form>
</table>
