<div class="post-container post-container-main">
  <div class="post-title">{{ title }}</div>
  <small>
    Uploaded by <a href="?context=profile&profile_id={{ user_id }}">{{ creator }}</a> at {{ created_at }}
  </small>

  <div class="post-file">
    <img class="post-file-file" src="{{ file_path }}"/><br/>
    <small style="width:100%"><a href="{{ file_path }}">{{ file_name }}</a></small>
  </div>

  <p class="post-text">
    {{ body }}
  </p>
</div>
{{? echo get_view('comment.wall'); }}
{{? echo get_view('comment.insert'); }}
