<table class="display-table">
  <tr class="tr-d">
    <td class="td-d">
      Name
    </td>
    <td class="td-d">
      {{ name }}
    </td>
  </tr>
  <tr class="tr-d">
    <td class="td-d">
      Created at
    </td>
    <td class="td-d">
      {{ created_at }}
    </td>
  </tr>
  <tr class="tr-d">
    <td class="td-d">
      About
    </td>
    <td class="td-d">
      <textarea>
        {{ about }}
      </textarea>
    </td>
  </tr>
  <tr class="tr-d">
    <td class="td-d">
      Posts made
    </td>
    <td class="td-d">
      {{ posts_count }}
    </td>
  </tr>
</table>
