<table class="display-table">
  <tr class="tr-d">
    <td class="td-d">
      Name
    </td>
    <td class="td-d">
      <small>
        {{ profile.form.name }}
      </small>
    </td>
  </tr>
  <tr class="tr-d">
    <td class="td-d">
      Created at
    </td>
    <td class="td-d">
      <small>
        {{ profile.form.created_at }}
      </small>
    </td>
  </tr>
  <tr class="tr-d">
    <td class="td-d">
      About
    </td>
    <td class="td-d">
      <textarea>
        {{ profile.form.about }}
      </textarea>
    </td>
  </tr>
</table>
