<div id="profile-container">
  <dl class="list-form">
    <dt style="display: inline">
      <h3 style="display: inline">
        {{ name }}
      </h3>
      {{?
        if( !isset($_GET['profile_id']) ||
          @validate_natural_num($_GET['profile_id']) == current_user_get()['ID'] )
        {
          echo sprintf("<a href=\"?context=profile%s&action=edit\">(edit)</a>",
            ( isset($_GET['profile_id']) ? sprintf("&profile_id=%d", $_GET['profile_id']) : '' ));
        }
      }}
    </dt><br/><br/>
  <dd>
    <img class="profile-image" src="{{ file_path }}" alt="{{ file_name }}">
    <div class="post-file-name">
      <a href="{{ file_path }}">{{ file_name }}</a>
    </div>
  </dd>

  <dt>
    About me
  </dt>
  <dd>
    <p class="about">
      {{ about }}
    </p>
  </dd>

  <dt>
    Stats
  </dt>
  <dd>
  <p class="about">
    Posts made: {{ posts_count }}<br/>
    Submited mirrors: 0
  </p>
  </dd>
</dl>
</div>
