<table>
<form method="POST">
  <tr>
    <td>
      Username
    </td>
    <td>
      <input type="text" name="username" placeholder="Username" />
    </td>
  </tr>
  <tr>
    <td>
      E-mail
    </td>
    <td>
    <input type="text" name="email" placeholder="E-mail address" />
    </td>
  </tr>
  <tr>
    <td>
      Password
    </td>
    <td>
      <input type="password" name="password" placeholder="Password" />
    </td>
  </tr>
  <tr>
    <td>
      Confirm your password
    </td>
    <td>
      <input type="password" name="confirmation" placeholder="Confirm your password" />
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <input type="submit" value="Sign Up" />
    </td>
  </tr>
</form>
</table>
<br/>
{{ register.form.error }}
