<table>
<form method="POST">
  <tr class="tr-d">
    <td class="td-d">
      Username
    </td>
    <td class="td-d">
      <input class="form" type="text" name="username" placeholder="Username" />
    </td>
  </tr>
  <tr class="tr-d">
    <td class="td-d">
      E-mail
    </td>
    <td class="td-d">
    <input class="form" type="text" name="email" placeholder="E-mail address" />
    </td>
  </tr>
  <tr class="tr-d">
    <td class="td-d">
      Password
    </td>
    <td class="td-d">
      <input class="form" type="password" name="password" placeholder="Password" />
    </td>
  </tr>
  <tr class="tr-d">
    <td class="td-d">
      Confirm your password
    </td>
    <td class="td-d">
      <input class="form" type="password" name="confirmation" placeholder="Confirm your password" />
    </td>
  </tr>
  <tr class="tr-d">
    <td class="td-d">
    </td>
    <td class="td-d">
      <input class="form-button" type="submit" value="Sign Up" />
    </td>
  </tr>
</form>
</table>
<br/>
{{ register.form.error }}
