.mirror-content {
  width: 91.5vw;
  height: 500px;
}

.mirror-list-container {
  font-size: 13px;
}

.mirror-list-container td {
  padding-right: 40px;
}

.mirror-list-container tr.header {
  font-weight: bold;
}

.mirror-list-container tr:hover {
  background: #235661;
}

.mirror-iframe {
  padding: 15px 0 0 0;
}

.mirror-iframe iframe{
  width: 99.5%;
  height: 498px;
}

#url-input {
  position: absolute;
  margin: 10px;
  width: 85%;
  bottom: 30px;
}

@media (max-width: 480px) {
}
