.post-container {
  position: relative;
  display: table;
  float: left;
  clear: left;
  background: var(--secondary-bg-color);
  max-width: 74.5%;
  min-width: 30%;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 14px;

  word-wrap: break-word;
  word-break: break-all;
}

#comment-prelude {
   display: inline-block;
   width: 100%;
   margin-bottom: 20px;
   font-size: 15px;
}

.comment-container {
  position: relative;
}

.post-container-main {
  /* margin-bottom: 30px; */
}

.comment-box-container {
  padding-top: 0px;
}

.post-title {
  font-size: 15px;
}

.post-file
{
  position: relative;
  padding: 25px 5px 0px 10px;
}

.post-file-file
{
  max-width: 350px;
}

.post-main-file
{
  max-width: 480px;
}

.post-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post-label-top-left {
  position: absolute;
  top: 5px;
  left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 58%;
}

.post-label-top-right {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
}

.post-label-label {
  padding-bottom: 10px;
  font-size: 13px;
}

p {
  word-wrap: break-word;
  word-break: break-all;
}

@media (max-width: 480px) {
  .post-container-main {
    max-width: 92.5%;
  }

  .post-container {
    min-width: 92.5%;
    font-size: 11px;
  }

  .post-file-file {
    max-width: 300px;
  }

  .post-main-file
  {
    max-width: 300px;
  }

  .post-label-top-left {
    font-size: 15px;
  }

  .post-label-top-right {
    font-size: 10px;
  }
}
