input[type=checkbox], select {
  vertical-align: top;
}

#image_file {
  display: none;
}

#next_button {
  position: absolute;
  right: 3%
}

#wall-pagination-container {
  width: 50%;
  margin-top: 3%;
  float: left;

  font-size: 25px;
}

#wall-options-container {
  display: inline;
  max-width: 100%;
  font-size: 13px;
}

#wall-options-container ul {
  margin: 0;
  padding: 0 0 0.8% 0;
  list-style-type: none;
  overflow: hidden;
  vertical-align: top;
}

#wall-options-container li {
  float: left;
  padding-right: 2%;
}

#wall-options-container li.right-tab {
  float: right;
  padding-right: 3%;
}

.wall-image-container {
  position: relative;
  float: left;
  width: 23vw;
  height: 300px;
  margin: 0 1.03vw 1% 0;
  border: 1px solid black;
  border-radius: 10px;
  background: var(--secondary-bg-color);
}

.wall-image-container:hover {
  top: -3px;
}

.wall-image-file {
  width: 21.8vw;
  height: 80%;
  padding: 25px 0.5vw 1px 0.5vw;
  object-fit: cover;
  /* margin: auto; */
}

.wall-image-send {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.wall-image-send:disabled {
  background: var(--primary-bg-color);
}

.wall-image-label {
  padding-top: 1.5%;
  padding-left: 0.7vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
}

.wall-image-label-top-right {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 11px;
}

.wall-image-label-top-left {
  position: absolute;
  top: 1px;
  left: 0;
  height: 20px;
  max-width: 65%;
  font-size: 14px;
}

@media (max-width: 480px) {
  input[type=checkbox] {
    margin-top: -2px;
    transform: scale(0.8);
  }

  #wall-options-container ul {
    /* display: inline; */
    padding-top: 5px;
    margin-bottom: -10px;
    font-size: 8px;
  }

  .wall-image-container {
    width: 98%;
    height: 325px;
    margin-top: 2%;
  }

  .wall-image-file{
    width: 96%;
    height: 80%;
    padding: 30px 7px 1px 7px;
    /* margin-bottom: -3px; */
  }

  .wall-image-send {
    width: 20vw;
  }

  .wall-image-label
  {
    padding-left: 10px;
    font-size: 15px;
  }

  .wall-image-label-top-left {
    font-size: 16px;
  }

  .wall-image-label-top-right {
    font-size: 12px;
  }
}
